html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

button {
  font-size: 1.6rem;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
}

.header-links a {
  margin: 0 1rem 0 0;
}

.header-links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/*************** Home ****************/

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0cc solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  width: 32rem;
  height: 34rem;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
}

/*************** Sidebar ****************/

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  transition: all 0.5s;
}

.sidebar.open {
  transform: translateX(0rem);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0.1rem;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/*************** Details ****************/

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  widows: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:hover {
  border: 0.1rem #404040 solid;
}

.button.primary {
  background-color: #f0c40f;
}

.button.secondary {
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

/*************** Details ****************/

.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1rem;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 2 20rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
  align-self: flex-start;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.button.primary-2 {
  width: 100%;
}

/*************** Form ****************/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/*************** Products ****************/

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td .button {
  background: white;
}

/*************** Checkout-Steps ****************/

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active {
  border-top: 0.3rem #ff8000 solid;
  color: #f08000;
}

/*************** Place Order ****************/

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-around;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin-left: 1rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin-top: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}

.placeorder-action > ul {
  padding: 0;
  list-style: none;
}

.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}

.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  padding-top: 1.4rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}

.pagination > li {
  border: 1px solid gray;
  padding: 1px;
  margin: 1px;
}

.productNumber {
  text-align: center;
}
